---
- name: Configure Apache Web Servers
  hosts: webservers
  become: true

  tasks:
    - name: Install Apache
      package:
        name: httpd
        state: present

    - name: Start Apache
      service:
        name: httpd
        state: started
        enabled: true

    - name: Create default web page
      copy:
        dest: /var/www/html/index.html
        content: |
          <h1>Deployed by Ansible Automation Platform 2.4</h1>
          <p>{{ inventory_hostname }}</p>

