---
- name: Configure Web Servers
  hosts: webservers
  become: true

  tasks:

    - name: Install Apache on Debian/Ubuntu
      apt:
        name: apache2
        state: present
        update_cache: yes
      when: ansible_facts.os_family == "Debian"

    - name: Install Apache on RHEL/CentOS
      yum:
        name: httpd
        state: present
      when: ansible_facts.os_family == "RedHat"

    - name: Start and enable Apache (Ubuntu/Debian)
      service:
        name: apache2
        state: started
        enabled: true
      when: ansible_facts.os_family == "Debian"

    - name: Start and enable Apache (RHEL/CentOS)
      service:
        name: httpd
        state: started
        enabled: true
      when: ansible_facts.os_family == "RedHat"

    - name: Create default web page
      copy:
        dest: /var/www/html/index.html
        content: |
          <h1>Welcome</h1>
          <p>Host: {{ inventory_hostname }}</p>
          <p>Deployed via AAP 2.4</p>
        mode: '0644'
